[run]
branch = True
parallel = True
show_missing = True

[report]
omit =
    tests/*
    thirdparty/*
    seagoatvision/*__init__.py
    configurations/*__init__.py

    # Graphic client is not tested with nose2
    seagoatvision/client/analysis/*
    seagoatvision/client/qt/*
    seagoatvision/client/web/*

    # Don't test private section
    filters/private/*
    configurations/private/*

    # Cannot test with hardware media
    seagoatvision/server/media/implementation/pygame_cam.py
    seagoatvision/server/media/implementation/webcam.py
    configurations/template_media/conf_pygameCam.py
    configurations/template_media/conf_webcam.py

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__

    # Don't complain if non-runnable code isn't run:
    if __name__ == '__main__':

    # Nop python
    pass

    # Ignore graphic client
    run_qt
