*.py[co]

# Project IDE
.project
.pydevproject
.settings
.idea
.orig

# C++ filter
*.so
*.o

# Private module
filters/private
thirdparty/private
configurations/private

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Doc
doc/build

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Text editor
*.swp
*~
